[run]
source=yhttp
omit = 
    yhttp/tests/**/*
    yhttp/extensions/*

[tool:pytest]
addopts= --cov=yhttp yhttp/tests

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError()
	pass

